.button {
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    height: 10%;
    width: 20%;
    padding: 20px;
    border: 1px solid #000000;
}

.button.clubs {
    background-color: #4CAF50; /* Green */
}


.button.diams {
    background-color: #ffbf00; /* Yellow */
}


.button.hearts {
    background-color: #cc2727; /* Red */
}


.button.spades {
    background-color: #2882b3; /* Blue */
}


.button.no-trumps {
    background-color: #808080; /* Gray */
}

.bidding {

}

.bidding-options {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 40%;
    padding: 30px;
}