.StartPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.StartPage-Input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(40rem, 100%);
}

.StartPage-NicknameInputField {
    width: 100%;
    font-size: min(1.75rem, 5vw);
}

.StartPage-NicknameInputFieldWrapper {
    width: 100%;
    padding: 2rem;
}

.StartPage-JoinButton {
    
}