@font-face {
    font-family: cards;
    src: url("https://rlbaxter.us/fonts/cards.ttf");
}

input {
    display: none;
}

.hand {
    margin-left: 140px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.playing-card {
    display: inline-block;
    margin-left: -140px;
}

.playing-card label {
    position: relative;
    width: 200px;
    height: 300px;
    display: inline-block;
    cursor: pointer;
    font-family: cards;
    line-height: 1.2;
    text-transform: uppercase;
}

.playing-card label::before {
    content: '';
    display: block;
    /*start background shamelessly stolen from interwebs https://lea.verou.me/css3patterns/#japanese-cube*/
    background-color: #556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
        linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    /*end stolen background*/
}

.playing-card label::before,
.playing-card .card-front {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    transition: 1s all;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.card-front {
    background: #f2f2f2;
    position: relative;
    font-size: 29px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transform: rotatey(-180deg);
    color: #444;
    display: flex;
    align-items: center;
}

.card-front span {
    flex: 1;
}

.card-front[data-card^="J"],
.card-front[data-card^="A"],
.card-front[data-card^="K"],
.card-front[data-card^="Q"] {
    font-size: 100px;
}

.card-front[data-card^="2"],
.card-front[data-card^="3"],
.card-front[data-card^="4"] {
    font-size: 50px;
}

.card-front[data-card^="5"],
.card-front[data-card^="6"] {
    font-size: 47px;
}

.card-front[data-card^="7"],
.card-front[data-card^="8"],
.card-front[data-card^="9"] {
    font-size: 35px;
}

input:checked+label::before {
    transform: rotatey(-180deg);
}

input:checked+label .card-front {
    transform: rotatey(0deg);
}

label[class="♥"] .card-front,
label[class="♦"] .card-front {
    color: firebrick;
}

.card-front::before,
.card-front::after {
    content: attr(data-card);
    font-size: 22px;
    position: absolute;
    padding: 10px;
    letter-spacing: 0.2em;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-front::before {
    top: 0;
    left: 0;
}

.card-front::after {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}