/* Starting from ourselves */
.next-indicator-0 {
    position: absolute;
    top: 85%;
    left: 50%;
}

.next-indicator-1 {
    position: absolute;
    top: 50%;
    left: 5%;
}

.next-indicator-2 {
    position: absolute;
    top: 15%;
    left: 50%;
}

.next-indicator-3 {
    position: absolute;
    top: 50%;
    left: 95%;
}