.play-area-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 74%;
    height: 100%;
}

.info-container {
    position: absolute;
    top: 0;
    right: 0;

    width: 25%;
    height: 100%;
}