.seatIndicator {
    position: absolute;
    width: 4%;
    height: 4%;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
}


.north {
    top: 22%;
    left: 48%;
}

.south {
    top: 76%;
    left: 48%;
}

.west {
    top: 48%;
    left: 13%;
}

.east {
    top: 48%;
    left: 86%;
}

.north.close {
    top: 2%;
    left: 47%;
}

.south.close {
    top: 88%;
    left: 47%;
}

.west.close {
    top: 46%;
    left: 2%;
}

.east.close {
    top: 46%;
    left: 92%;
}