.table1 {
    width: 1015px;
    height: 415px;
    background-color: #4aad4a;
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 150px;
    position: relative;
    border: 15px solid #a95555;


}

.table1::before {
    content: '';
    border: 7px solid rgba(0, 0, 0, .1);
    display: block;
    width: 1015px;
    height: 415px;
    border-radius: 150px;
    position: absolute;
    top: -15px;
    left: -15px;
}

.table1:after {
    content: '';
    border: 7px solid rgba(0, 0, 0, .1);
    display: block;
    width: 985px;
    height: 385px;
    border-radius: 130px;
    position: absolute;
    top: 0;
    left: 0;
}