.play-table {
    width: 95%;
    height: 85%;
    background-color: #4aad4a;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 150px;
    border: 15px solid #a95555;
}