.seatButton {
    position: absolute !important;
    transform: translate(-50%, -50%);
    width: 15%;
    height: 15%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.northButton {
    top: 10%;
    left: 50%;
}

.eastButton {
    top: 50%;
    left: 95%;
    width: 9%;
    height: 25%;
}

.southButton {
    top: 90%;
    left: 50%;
}

.westButton {
    top: 50%;
    left: 5%;
    width: 9%;
    height: 25%;
}


.taken {
    background-color: #fc3d3d !important;
}

.taken:hover {
    background-color: #e20408 !important;
}

