.top-container-waiting-room {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 15%;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 2em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.invitation-link-container {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    height: 10%;
    width: 100%;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}
.buttons {
    width: 100%;
    height: 40%;
}

.start-button {
    width: 50%;
    height: 25%;
    padding: 5%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #53d769 !important;
}

.leave-button {
    width: 50%;
    height: 25%;
    padding: 5%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #fc3d3d !important;
}

.start-button:hover {
    background-color: #43a45a !important;
}

.leave-button:hover {
    background-color: #e20408 !important;
}