name: Build and Test App
on:
  push:
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v3
      with:
        submodules: 'true'
    - name: List files in the repository
      run: |
        tree -L 2 ./
    - name: Install npm dependencies
      run: npm install --prefix client
    - name: Build with npm
      env:
         CI: "" # ignores warnings
      run: npm run build --prefix client
    - name: Run with npm
      run: npm run start --prefix client & # in background
    - name: Run Selenium tests
      uses: actions/setup-python@v4 # installs from requirements
      with:
        python-version: '3.9'
        cache: 'pip' # caching pip dependencies
    - run: pip install -r requirements.txt
    - run: pip list show 
        # sudo apt-get install firefox-geckodriver
        #tests/selenium/run_tests.sh