name: Build and Test App
on:
  push:
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v3
    - name: List files in the repository
      run: |
        tree -L 2 ./
    - name: Install npm dependencies
      run: npm install --prefix client
    - name: Build with npm
      run: npm run build --prefix client
